In [122]:
import pandas as pd
import numpy as np
df = pd.read_excel('C:/Users/lenovo/Desktop/XRays.xlsx')
df.head()

      stMRN            dtArrive             dtBegin         dtCompleted
0  12222732 2016-04-04 08:00:21 2016-04-04 08:04:56 2016-04-04 08:11:52
1  13510077 2016-04-04 08:21:54 2016-04-04 08:26:40 2016-04-04 08:39:12
2  11183882 2016-04-04 08:33:38 2016-04-04 08:44:53 2016-04-04 08:44:58
3  12949996 2016-04-04 08:38:16 2016-04-04 08:41:27 2016-04-04 08:47:34
4  11566221 2016-04-04 08:26:10 2016-04-04 08:33:21 2016-04-04 08:53:06

In [123]:
df['begin_time'] = df.dtBegin.apply(lambda x: x.time())
df['complete_time'] = df.dtCompleted.apply(lambda x: x.time())
df['date'] = df.dtBegin.apply(lambda x: x.date())

In [124]:
df.head()

,stMRN,dtArrive,dtBegin,dtCompleted,begin_time,complete_time,date
0,12222732,2016-04-04 08:00:21,2016-04-04 08:04:56,2016-04-04 08:11:52,08:04:56,08:11:52,2016-04-04
1,13510077,2016-04-04 08:21:54,2016-04-04 08:26:40,2016-04-04 08:39:12,08:26:40,08:39:12,2016-04-04
2,11183882,2016-04-04 08:33:38,2016-04-04 08:44:53,2016-04-04 08:44:58,08:44:53,08:44:58,2016-04-04
3,12949996,2016-04-04 08:38:16,2016-04-04 08:41:27,2016-04-04 08:47:34,08:41:27,08:47:34,2016-04-04
4,11566221,2016-04-04 08:26:10,2016-04-04 08:33:21,2016-04-04 08:53:06,08:33:21,08:53:06,2016-04-04

In [156]:
from datetime import datetime, timedelta
t = np.arange(datetime(2016,4,4), datetime(2016,11,16), timedelta(days=1)).astype(datetime)

In [155]:
import time
t = np.arange(datetime(20,1,1,7,0,0), datetime(20,1,1,20,30,0), timedelta(minutes=30)).astype(datetime)
times = []
for i in range(len(t)):
    times.append(t[i].time())

In [200]:
top = 0
for day in t:
    z = 0
    tmp = df.loc[df.date==day.date()]
    
    
    for i in range(len(times)-1):
        begin = list(tmp.loc[tmp.begin_time>=times[i]][tmp.begin_time<=times[i+1]].begin_time.values)
        complete = list(tmp.loc[tmp.complete_time>=times[i]][tmp.complete_time<=times[i+1]].complete_time.values)
        
        res = list()
        for j in range(len(begin)):
            res.append([begin[j],'b'])
        for j in range(len(complete)):
            res.append([complete[j],'c'])
        
        a = sorted(res, key=lambda time: time[0])
        
        for i in a:
            if i[1] == 'b': z+=1
            if i[1] == 'c': z-=1
            if z > top: top = z

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

10